/* Colors */
$primary-color: #405DF1;
$secondary-color: #B2B4BF;

$text-primary-color: #4E5059;
$background-color: #EFF1F3;

/* Color palette */
$green: #78DF27;
$red: #FF4F5A;

/* Fonts */
$font-size: 14px;
$font-line-height: 20px;

/* Spacing */
$space-xss: 2px;
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-mdl: 24px;
$space-lg: 32px;
